//
// Base
// -----
// Unclassed HTML elements (type selector)
//

body {
    @include Ubuntu('normal');
    min-width: 940px;
}

a {
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

strong, b {
    @include Ubuntu('medium');
}

