
.header {
    position: relative;
    max-height: 765px;
    overflow: hidden;

    .container {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        height: 100%;
    }
}

.header__top {
    $htop-color: #9ea1b3;

    text-align: center;
    color: $htop-color;
    margin-top: 55px;

    overflow: hidden; // clearfix
    clear: both;

    @include Ubuntu('medium');

    .item {
        display: inline-block;
        vertical-align: top;
        height: 100px;
        line-height: 100px;
    }

    .item:first-child {
        float: left;
    }

    .item:last-child {
        float: right;
    }

    a {
        color: $htop-color;

        &.dashed {
            border-bottom: 1px dashed;
        }
    }
}

.header__bg {
    width: 100%;
    height: auto;
    display: block;
}
